body{
    background-color: aquamarine;
    font-family: fantasy;
}

.header_div{
    background-color: black;
    color: aqua;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header_div p{
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 23px;
}
.div_footer{
    position: fixed;
    background-color: black;
    color: aqua;
    letter-spacing: 2px;
    height: 30px;
    width: 100%;
    bottom: 0;
    font-size: 20px;
}
button{
    margin-top: 30px;
    width: 120px;
}